name: LinkedIn Cyber News Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  run-bot:
    runs-on: ubuntu-latest

    env:
      LINKEDIN_ACCESS_TOKEN: ${{ secrets.LINKEDIN_ACCESS_TOKEN }}
      PERSON_URN: ${{ secrets.PERSON_URN }}
      NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python linkedin_page_bot.py
